@using MitechCenter.vn.Models
@model IEnumerable<News>

@{
    Layout = "~/Views/Shared/_MetaLayout.cshtml";
    ViewData["Title"] = "TRANG CHỦ";
}

<!-- banner part start-->
<section class="banner_part">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background: url('./img/bg_1.png');background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>
                                    Cùng nhau phát triển<br />
                                    Tận tâm với khách hàng
                                </h4>
                                <p>
                                    Sự phát triển của bạn<br>
                                    Chính là sự phát triển của chúng tôi sau này.
                                </p>
                                <a href="#">XEM THÊM</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1">
                                <img src="./img/ly-do-xay-dung-trang-web.png"
                                     class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background: url('./img/bg_2.png');background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>
                                    Đội ngũ chuyên nghiệp<br>
                                    trong lĩnh vực
                                </h4>
                                <p>
                                    Chúng tôi yêu thích công việc<br>
                                    và luôn dành hết tâm huyết cho chúng.
                                </p>
                                <a href="#">XEM THÊM</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1">
                                <img src="./img/bg_ok.png"
                                     class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background: url('https://avalonsolution.asia/themes/AvalonSolution/images/home-slider/slider-3.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>
                                    Dịch vụ hậu mãi tuyệt vời <br>
                                    luôn quan tâm đến khách hàng.
                                </h4>
                                <p>
                                    Đối với chúng tôi, trải nghiệm của bạn là mục tiêu đáng trân quý<br>
                                    mà chúng tôi phải hướng đến và phục vụ tốt nhất.
                                </p>
                                <a href="#">XEM THÊM</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1">
                                @*<img src="./img/woman_transparent.png"
                                    class="mx-auto" alt="slide">*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
        </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
        </a>
    </div>
    <!--slide end-->
</section>
<!-- banner part start-->
<!-- Sologan khẳng định start-->
<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7">
                <div class="learning_img">
                    <img src="img/learning_img.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                    <h5>Với chúng tôi</h5>
                    <h3 class="text-justify">Giá trị của tính chuyên nghiệp và kết quả hoạt động sẽ không bao giờ thay đổi</h3>
                    <p style="font-size:18px">Chúng tôi là những người yêu mến công nghệ, những nhà phân tính, khoa học và những lập trình viên máy tính. Chúng tôi ăn, ngủ và thở với niềm đam mê phát triển ứng dụng kỹ thuật. Là những chuyên gia trẻ tuổi và tài năng ở Nha Trang, chúng tôi rất yêu quý công việc này.</p>
                    <a href="#" class="btn_1">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sologan khẳng định end-->

@{
    @await Component.InvokeAsync("OurServices");
}

<!--::blog_part start::-->
<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center" style="margin-bottom: 60px;">
                    <h2>Tin tức & Sự kiện</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var news in Model)
            {
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <div class="card-img-top" style="background: url('@news.nFeatureImage');background-position: center;background-repeat: no-repeat;background-size: cover;"></div>
                            <div class="card-body">
                                @if (@news.getCategory(ViewBag.ncs) == null)
                                {
                                    <a href="/" class="btn_4">
                                        Không xác định
                                    </a>
                                }
                                else
                                {
                                    <a href="/Category/@news.getCategory(ViewBag.ncs).getPath()" class="btn_4">
                                        @news.getCategory(ViewBag.ncs).ncName
                                    </a>
                                }
                                <a href="/Post/@news.getPath()">
                                    <h5 class="card-title text-line">@news.nTitle</h5>
                                </a>
                                <p class="text-line">@news.nDescription</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--::blog_part end::-->
<!-- Partners -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                        @foreach (Partners partner in ViewBag.partners)
                        {
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="@partner.logo" alt="" height="130"></div>
                            </div>
                        }
                    </div> <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA9UlEQVRIie3WMUpDQRAG4A9BrOwEwSqFB7CxtEplq43ewXgJ4yGs9Ao5gGIjqHiGQAKpxE4EUfIsnoG3q6CoOw8hP2y7H7Pszg7z/JMs4wbV+7qIQBcwaKAV7iLg4wx9wHppdBfTBvqCbml0A4/Sag9Ko6sYZ+hpaXQRlxl6haXS8EmGjtQnUDSHGfqEzdJoV31rZ+gUe6XRDu6l1R6VRuE2QwfqjvXrfLVJ9RfIT9Lx8aj7UfgWnqWXaz8K72nhOc2SN5AJ1iLg1lomrGCY4WcRMJ9/i70ofEc6CLxiOwrvS6sOGX1ocdijHm+vG/B5FDzPt/MGfj9nuL2xU0gAAAAASUVORK5CYII=" /></div>
                    <div class="brands_nav brands_next"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVRIie3WMUpDQRAG4I+AWNkJglWKHMBCS6tUabUxd0i8hPEQVnoFD6DYBAx4BkEhldhJQAyJxVPYt1oIsvMU8sOWy8cus7PDKn8s11h+rAk2ouC7BF7iEq0IuI2nDB9FwLCP1wReoB+FD9VPPcNeFH6W4VNsR8BruMnwMdYj8E3cZ/hFBAw7eMnwYRR+oKruT3iOXhQ+Uj/1MzoRcEvVyVJ88pNN/zanGrjqQ/XiekO3NPrdcxqURrfwmKHnpdHGWmb+STyobqBojjN0ht3SaFdVtekgcFQabfs6+pyURmlw2LtK0FuB4+0qv8473Ftmt3eUiIwAAAAASUVORK5CYII=" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partners -->

@section styles {
    <link rel="stylesheet" href="css/carousel.css" />
    <link rel="stylesheet" href="css/clients-brand.css" />
    <style>
        #myCarousel .carousel-item h4 {
            line-height: 1.2;
            color: #3e7cc2;
        }

        #myCarousel .carousel-item p {
            color: #174560;
        }

        .text-line {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    </style>
}

@section scripts {
    <script src="js/carousel.js"></script>
    <script src="js/clients-brand.js"></script>
    <script>
    $(document).ready(function () {
        if ($('.brands_slider').length) {
            var brandsSlider = $('.brands_slider');

            brandsSlider.owlCarousel(
                {
                    loop: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    nav: false,
                    dots: false,
                    autoWidth: true,
                    items: '@ViewBag.partners.Count',
                    margin: 42
                });

            if ($('.brands_prev').length) {
                var prev = $('.brands_prev');
                prev.on('click', function () {
                    brandsSlider.trigger('prev.owl.carousel');
                });
            }

            if ($('.brands_next').length) {
                var next = $('.brands_next');
                next.on('click', function () {
                    brandsSlider.trigger('next.owl.carousel');
                });
            }
        }
    });
    </script>
}